<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/auth.css">

<%- include ../partials/header %>

<form action="" method="">
    <input type="email" name="email" id="email" placeholder="E-mail" required>

    <input type="password" name="password" id="password" placeholder="Password">
    <input type="re-password" name="re-password" id="re-password" placeholder="Re-enter Password">

    <button type="submit" class="custom-link2">Create Account</button>
</form>

<%- include ../partials/footer %>

<%- include ../partials/end %>