<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/auth.css">

<%- include ../partials/header %>

<form action="" method="">
    <input type="email" name="email" id="email" placeholder="E-mail" required>
    <input type="password" name="password" id="password" placeholder="Password">

    <button type="submit" class="custom-link2">Login</button>

    <p>Aren't a Anarchy Futurist yet? <a href="/signup">Create a new account!</a></p>
</form>

<%- include ../partials/footer %>

<%- include ../partials/end %>