<div class="product-card">
    <div class="titles">
        <h2>ADIDAS</h2>
        <h3>Falcon shoes</h3>
    </div>
    <img class="image" src="/images/home/products/adidasFALCON.svg" alt="Adidas Falcon">
    <div class="options">
        <span class="price">Rs. 1270</span>
        <a href="/add-to-wishlist/productid"><i class="far fa-heart"></i></a>
        <a href="/add-to-cart/productid"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <div class="addit">
        <p>For Women, Made in China, 2018</p>
        <a href="/product/id" class="custom-link">View Product</a>
    </div>
</div>