<div class="order-card">
    <div class="details">
        <h3>Payment ID: <%= order.gateway_payment_id %></h3>
        <h3>Items Ordered: <%= order.items.length %></h3>
        <p>Ordered On: <%= order.createdAt.toString() %></p>
    </div>
    <div class="price">
        <h2>Rs. <%= order.amount %></h2>
    </div>
</div>