<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/cart.css">

<%- include ../partials/header %>

<div class="products">
    <div class="product">
        <div class="image-wrapper">
            <img src="/images/products/Nike-Air270-white.svg" alt="Nike-Air270-white">
        </div>
        <div class="info">
            <section class="meta">
                <p class="brand-name">NIKE</p>
                <p class="product-name">Air Max 270</p>
            </section>
            <div class="quantity-wrapper">
                <span class="reduce"><i class="fas fa-minus"></i></span>
                <span class="quantity">1</span>
                <span class="increase"><i class="fas fa-plus"></i></span>
            </div>
            <div class="details">
                <span class="product-category">For Men,</span>
                <span class="size">Size: EU42,</span>
                <span class="price">Price: Rs. 1240</span>
            </div>
        </div>
        <div class="amount-wrapper">
            <p class="amount">Rs. 1240</p>
        </div>
        <div class="remove-item">
            <a href="/remove-from-cart/productid" class="remove"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    <div class="product">
        <div class="image-wrapper">
            <img src="/images/products/Nike-Air270-white.svg" alt="Nike-Air270-white">
        </div>
        <div class="info">
            <section class="meta">
                <p class="brand-name">NIKE</p>
                <p class="product-name">Air Max 270</p>
            </section>
            <div class="quantity-wrapper">
                <span class="reduce"><i class="fas fa-minus"></i></span>
                <span class="quantity">1</span>
                <span class="increase"><i class="fas fa-plus"></i></span>
            </div>
            <div class="details">
                <span class="product-category">For Men,</span>
                <span class="size">Size: EU42,</span>
                <span class="price">Price: Rs. 1240</span>
            </div>
        </div>
        <div class="amount-wrapper">
            <p class="amount">Rs. 1240</p>
        </div>
        <div class="remove-item">
            <a href="/remove-from-cart/productid" class="remove"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    <div class="product">
        <div class="image-wrapper">
            <img src="/images/products/Nike-Air270-white.svg" alt="Nike-Air270-white">
        </div>
        <div class="info">
            <section class="meta">
                <p class="brand-name">NIKE</p>
                <p class="product-name">Air Max 270</p>
            </section>
            <div class="quantity-wrapper">
                <span class="reduce"><i class="fas fa-minus"></i></span>
                <span class="quantity">1</span>
                <span class="increase"><i class="fas fa-plus"></i></span>
            </div>
            <div class="details">
                <span class="product-category">For Men,</span>
                <span class="size">Size: EU42,</span>
                <span class="price">Price: Rs. 1240</span>
            </div>
        </div>
        <div class="amount-wrapper">
            <p class="amount">Rs. 1240</p>
        </div>
        <div class="remove-item">
            <a href="/remove-from-cart/productid" class="remove"><i class="fas fa-trash"></i></a>
        </div>
    </div>
</div>

<div class="order-summary">
    <p>TOTAL AMOUNT: Rs. 1240</p>
    <a href="/checkout" class="custom-link2">Checkout</a>
</div>

<%- include ../partials/footer %>

<%- include ../partials/end %>